@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

//Colour Scheme
$dark-blue: #2371ad;
$med-blue: #4baefa;
$light-blue: #bce2ff;
$brown: #452c07;
$sand: #fff7eb;

//Fonts
$feature: "Berkshire Swash", cursive;
$serif: "Cardo", serif;
$sans: "Josefin Sans", sans-serif;
